@font-face {
  font-family: 'ITCCentury LT Book';
  src: url('fonts/itc-century-lt-book-italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/itc-century-lt-book-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/itc-century-lt-book-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/itc-century-lt-book-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/itc-century-lt-book-italic.svg#d28eac7d25d1920e355c212ab72c3d40') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'GillSans Light';
  src: url('fonts/ufonts.com_gillsans-light.eot'); /* IE9 Compat Modes */
  src: url('fonts/ufonts.com_gillsans-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ufonts.com_gillsans-light.woff') format('woff'), /* Modern Browsers */
       url('fonts/ufonts.com_gillsans-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/ufonts.com_gillsans-light.svg#2ff0e5a4cc485f0e4f520a2715c0d3f9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

