@font-face {
  font-family: 'Gill Sans MT Pro Light';
  src: url('fonts/GillSansMTPro-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/GillSansMTPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/GillSansMTPro-Light.woff') format('woff'), /* Modern Browsers */
       url('fonts/GillSansMTPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/GillSansMTPro-Light.svg#540fd5983ddc0e0d68dbbdfd0c3ce7a0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Gill Sans MT Pro Light';
  src: url('fonts/GillSansMTPro-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/GillSansMTPro-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/GillSansMTPro-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('fonts/GillSansMTPro-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/GillSansMTPro-LightItalic.svg#dc70d77c3ff685ed93f898158cc94bb2') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Gill Sans MT Pro Medium';
  src: url('fonts/GillSansMTPro-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/GillSansMTPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/GillSansMTPro-Medium.woff') format('woff'), /* Modern Browsers */
       url('fonts/GillSansMTPro-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/GillSansMTPro-Medium.svg#67c37b3db293c081cb47fbb4067a0efd') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

