$font-color: white;
$a-color: white;
$secondary-color: black;
$third-color: rgb(113,152,168);

$header-font: 'GillSans Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font: 'GillSans Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
$italic-font: 'ITCCentury LT Book', "Helvetica Neue", Helvetica, Arial, sans-serif;



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  opacity: 1;
}


[class^=col],[class^=section] {
    float: left;
}

.left {
    float: left;   
}
.right {
    float: right;
}
.center {
	text-align: center;
}

.italic {
	font-style: italic;
}

.hide-for-small {
	display: none;
	@media only screen and (min-width: 747px) {
		display: block;
	}
}

.hidden {
	// opacity: 0;
	transition: all 0.3s ease-in;
}