// bower:scss
// endbower

@import 'reset';
@import 'fonts';
@import 'variables';

body {
    background: #fafafa;
    font-family: $body-font;
    color: $font-color;
    width: 100%;
    // -webkit-font-smoothing: antialiased;
}

img {
    width: 100%;
}

p {
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 20px;
		letter-spacing: 0.3px;
		@media only screen and (min-width: 747px) {
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 20px;
		}
	}
h1 {
	font-size: 48px;
	line-height: 56px;
	margin-bottom: 20px;

}
h2 {
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 16px;
}
h3 {
	font-size: 34px;
	line-height: 1px;
	margin-bottom: 20px;
	font-style: italic;
	font-family: $italic-font
}
a {
	text-decoration: none;
	color: $a-color;

	&:hover {
		// text-decoration: underline;
		color: $secondary-color;
	}
}
small {
	padding-top: 20px;
	display: block;
	text-align: center;
	font-size: 12px;
}

::selection {
    color: white;
    background: $third-color;
}

.col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: 50%;
}

.overlay {
	position: absolute;
}


.lines-on-door-img {
	background: url(../images/lines-on-door.jpg);
	background-size: cover;
	background-position: -130px 0;
	height: 700px;
	zoom: 1.8;
	@media only screen and (min-width: 747px) {
		background-position: 0 0;
		zoom: 1;
		height: 1000px;
	}
}

.title-text {
	top: 65px;
	left: 0; 
	right: 0;
	margin: auto;
	width:100%;
	max-width: 485px;
	padding: 0 10px;
	z-index: 2;

	&.main {
		padding: 0 60px;
		@media only screen and (min-width: 747px) {
			padding: 0 10px;
		}
	}

	span.line {
		width: 0;
		height: 1px;
		border-bottom: 1px solid white;
		transition: width 0.4s ease-in;
		
		&.full {
			@media only screen and (min-width: 747px) {
				width: 45%;
			}
			width: 40%;
			max-width: 208px;	
		}
	}

}

.skin-and-lines, .colour-series {
	span.line {
		width: 0;
		&.full {
			width: 50%;
			max-width: none;
		}
	}
}


.menu {
	margin: 50px 0;
	li {
		display: inline-block;
		font-size: 17px;
		padding: 0 25px;
	}
}


[class^=section]{
	position: relative;
	width: 100%;
}

.section-2 {
	.title-text {
		top: 22%;
	}
}

.section-3 {
	.title-text {
		top: 33%;
	}
}

.section-5 {
	.title-text {
		top: auto;
		bottom: 0; 
	}
	.de-la-warr {
		position: relative;
		small {
			position: absolute;
			padding: 0 0 0 5px;
			top: 46%;
		}
	}
	.wearing-lines{
		position: relative;
		small {
			position: absolute;
			padding: 0 5px 0 0;
			bottom: 3%;
			right: 0;
		}
	}
	
}




// VIDEO
video {
    width: 100%;
}


@import 'old-browsers';