/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Gill Sans MT Pro Light';
  src: url('fonts/GillSansMTPro-Light.eot');
  /* IE9 Compat Modes */
  src: url('fonts/GillSansMTPro-Light.eot?#iefix') format('embedded-opentype'), url('fonts/GillSansMTPro-Light.woff') format('woff'), url('fonts/GillSansMTPro-Light.ttf') format('truetype'), url('fonts/GillSansMTPro-Light.svg#540fd5983ddc0e0d68dbbdfd0c3ce7a0') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'Gill Sans MT Pro Light';
  src: url('fonts/GillSansMTPro-LightItalic.eot');
  /* IE9 Compat Modes */
  src: url('fonts/GillSansMTPro-LightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/GillSansMTPro-LightItalic.woff') format('woff'), url('fonts/GillSansMTPro-LightItalic.ttf') format('truetype'), url('fonts/GillSansMTPro-LightItalic.svg#dc70d77c3ff685ed93f898158cc94bb2') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 200; }

@font-face {
  font-family: 'Gill Sans MT Pro Medium';
  src: url('fonts/GillSansMTPro-Medium.eot');
  /* IE9 Compat Modes */
  src: url('fonts/GillSansMTPro-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/GillSansMTPro-Medium.woff') format('woff'), url('fonts/GillSansMTPro-Medium.ttf') format('truetype'), url('fonts/GillSansMTPro-Medium.svg#67c37b3db293c081cb47fbb4067a0efd') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

[class^=col] {
  float: left; }

.left {
  float: left; }

.right {
  float: right; }

body {
  background: #fafafa;
  font-family: 'Gill Sans MT Pro Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333; }

img {
  width: 100%; }

.col-1-1 {
  width: 100%; }

.col-1-2 {
  width: 50%; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*# sourceMappingURL=main.css.map */