// bower:scss
// endbower

@import 'reset';
@import 'fonts';
@import 'variables';

body {
    background: #fafafa;
    font-family: $body-font;
    color: $font-color;
    width: 100%;
}

img {
    width: 100%;
}

p {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 20px;
	}
h1 {
	font-size: 48px;
	line-height: 56px;
	margin-bottom: 10px;
}
h2 {
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 16px;
}
h3 {
	font-size: 34px;
	line-height: 14px;
	margin-bottom: 10px;
	font-style: italic;
}

.col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: 50%;
}

.overlay {
	position: absolute;
}


.title-text {
	top: 65px;
	left: 0; 
	right: 0;
	margin: auto;
	width:100%;
	max-width: 485px;
	padding: 0 10px;

	span.line {
		width: 40%;
		max-width: 195px;
		height: 1px;
		border-bottom: 2px solid white;
	}
	span.line-full {
		width: 80%;
		max-width: 400px;
		height: 1px;
		border-bottom: 2px solid white;
	}
}

.menu {
	margin: 50px 0;
	li {
		display: inline-block;
		font-size: 17px;
		padding: 0 25px;
	}
}


[class^=section]{
	position: relative;
}

.section-2 {
	.title-text {
		top: 500px;
	}
}

.section-3 {
	.title-text {
		top: 580px;
	}
}

.section-5 {
	.title-text {
		top: auto;
		bottom: 130px;
	}
}


@import 'old-browsers';